.ld-custom-name {
    color: #fdc600;
}


.ld-custom-button {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    padding-left: 66px;
    padding-right: 66px;
}

.ld-custom-background-layer {
    background-color: #000000;
}

.ld-custom-button-container {
    margin-bottom: 16px;
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    border: 2px solid;
    border-color: #fdc600;
    background-color: #fdc600;
    color: #000000;
    -webkit-animation: ld-custom-button-animation 2s linear infinite;
    animation: ld-custom-button-animation 2s linear infinite;
    border-radius: 30px;
}

.ld-custom-button-container:hover {
    background-color: transparent;
    color: #fdc600;
    border-color: #fdc600;
}

.ld-custom-button-container:active {
    -webkit-animation: unset;
    animation: unset;
}

.ld-custom-button-container .grecaptcha-badge {
    opacity: 0;
}

@keyframes ld-custom-button-animation {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    12.5% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.ld-custom-description, .ld-custom-name {
    color: white!important;
}